/* COLORS
light: DECABE (background)
medium: D5BCAD (nav text, body text, & deck border)
dark: C39885 (nav & deck)
deep-dark: BB8A74 (hover) */



/* NAVIGATION */

nav {
  align-items: center;
  background-color: #C39885;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

nav a {
  color: #D5BCAD;
  font-size: 150px;
  text-decoration: none;
}

nav a:hover {
  color: #BB8A74;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 5px;
  padding-left: 50px;
}



/* FORMS */

h3 {
  color: #D5BCAD;
  font-size: 100px;
}

input[type=text], input[type=email], input[type=password] {
  background-color: #D5BCAD;
  border: none;
  box-sizing: border-box;
  color: #BB8A74;
  font-size: 75px;
  margin: 25px;
  padding: 25px;
  width: 100%;
}

input[type=submit] {
  background-color: #D5BCAD;
  border: none;
  color: #BB8A74;
  font-size: 75px;
  margin: 25px;
  padding: 25px;
}



/* BODY */

* {
  font-family: "YEEZY TSTAR";
  src: url(yeezy_tstar-heavy-webfont.ttf) format("truetype");
}

body {
  background-color: #DECABE;
  background-image: url("kkw.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: flex;
  justify-content: center;
}



/* DECKS */

.main {
  background-color: #C39885;
  border: 50px solid #D5BCAD;
  margin: 100px auto;
  padding: 300px;
  text-align: center;
  width: 25%;
}

.main a {
  color: #D5BCAD;
  font-size: 100px;
  text-decoration: none;
}

.main a:hover {
  color: #BB8A74;
}

.main li {
  color: #D5BCAD;
  font-size: 75px;
}

.main p {
  color: #D5BCAD;
  font-size: 75px;
}



/* MISC */

.container {
  width: 100%;
}

ul {
  list-style-type: none;
}
