<p><%= @current_card.question %></p>
  <form action="/rounds/<%= round_id %>/flashcard/guess" method="POST">
    <input type="text" placeholder="Answer" name="answer" required>
    <input type="submit">
  </form>