
<div class="results-page">
  <% if logged_in? %>
    <h3>Results:</h3>
    <p id="results-page-result">You answered <%= @first_round_right %> out of <%= session[:total_cards] %> correctly during your first round</p>

  <% else %>
    <p>Not a user? Register below, to view your statistics:</p><br>
      <p><a href="/users/new">Sign-up</a></p>
    <p> Already registered? Sign in: </p>
      <p><a href="/sessions/new">Login</a></p>
  <% end %>

  <h3><a href="/decks">Play Another Round</a></h3>
</div>




