<h3><%= @user.username.capitalize %>'s Profile Page</h3>

<h4>Round Statistics:</h4>

<% if @user.rounds.any? %>
<ol>
  <% @user.rounds.each do |round|%>
  <li> <%= @user.username.capitalize %> answered <%= round.correct_count %> questions correctly from the <%= @round.deck.name %>.</li>
  <% end %>
</ol>
<% else %>
  <p>This user hasn't played any rounds.</p>
<% end %>

