<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <nav>
      <h1><a href="/">FLASHKARDS</a></h1>
      <ul>
        <% if logged_in? %>
        <li><a href="/users/<%= current_user.id %>">Hello, <%= current_user.name %></a></li>
        <li><form method="POST" action="/sessions">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" class="button" value="LOGOUT" />
            </form>
        </li>
        <% else %>
        <li><h1><a href="/sessions/new">LOGIN</a></h1></li>
        <li><h1><a href="/users/new">SIGNUP</a></h1></li>
        <% end %>
      </ul>
    </nav>
    <div class="main">
    <%= yield %>
    </div>
  </div>
</body>
</html>
